<div class="container">
	<div class="winner">
		<h1>
			{{winner}}
		</h1>
		<p>
			has won the match!
		</p>
	</div>
	<p class="duration">
		Duration: {{timeAsString}}
	</p>
	<div class="overview">
		<div class="player-container" [ngClass]="{'win': winner === players[0].display_name}">
			<div class="name">
				{{players[0].display_name}}
			</div>
			<div class="score-container">
				{{players[0].score}}
			</div>
		</div>
		<div class="player-container" [ngClass]="{'win': winner === players[1].display_name}">
			<div class="name">
				{{players[1].display_name}}
			</div>
			<div class="score-container">
				{{players[1].score}}
			</div>
		</div>
	</div>
	<button (click)="back()" class="back-button">
		BACK
	</button>
</div>
