.container {
	display: flex;
	place-content: center;
	place-items: center;
	flex-direction: column;
	padding: 1rem;
	position: relative;

	border-radius: 2rem;
	background-color: #D2E4E9;
}

.selection-container {
	display: flex;
	place-content: center;
	flex-direction: row;
}

.button {
	height: 4rem;
	border-radius: 1.5rem;
	font-family: 'Poppins';
	font-weight: bold;
	font-size: 1.8rem;
	padding-right: 2rem;
	padding-left: 2rem;
	margin-bottom: 2rem;
}

.accept {
	background-color: white;
	color: #EFAF50;
	margin-right: 6rem;
}

.decline {
	background-color: #2B768E;
	color: white;
}

.wrapper {
	position: relative;
}
  
.arc {
	position: absolute;
	top: -4.4rem;
	left: -2.25rem;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 100%;
	border: 0.7rem solid;
}

.arc_start {
	border-color: transparent #225A7A #225A7A #225A7A;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
}

.arc_end {
	border-color: #225A7A #225A7A #225A7A transparent;
	-webkit-transform: rotate(75deg);
	-moz-transform: rotate(75deg);
	-ms-transform: rotate(75deg);
	-o-transform: rotate(75deg);
	transform: rotate(75deg);
	z-index: 1;
}

.countdown-container {
	p {
		font-size: 2.4rem;
		font-family: 'Fredoka One';
		font-weight: bold;
		color: #225A7A;
	}

	// position: relative;
	margin-bottom: 0.5rem;
	display: flex;
	place-content: center;
	flex-direction: row;
	place-items: center;
}

.timer {
	color: #225A7A;
	font-size: 2.8rem;
	font-family: 'Poppins';
	font-weight: bold;
	text-align: center;
	position: absolute;
	left: 50%;
	// margin-right: -50%;
	transform: translateX(-50%);
	bottom: 1rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: white;
}
