<form [formGroup]="userForm" (ngSubmit)="submitUser()">
	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>username</mat-label>
		<input matInput formControlName="username">
	</mat-form-field>
	<button class="button" type="submit">Send</button>
	<div *ngIf="userNotFound">User not found</div>
</form>

<mat-list>
	<mat-list-item *ngFor="let chat of chats" (click)="getChat(chat)">
		<a>{{chat.name}}</a>
		<tr *ngFor="let user of chat.users; let last=last" [ngClass]="{ flast: last }">
			<p>{{user.intra_name}} &nbsp; </p>
		</tr>
	</mat-list-item>
</mat-list>
