<form [formGroup]="loginForm" (ngSubmit)="submit()" autocomplete="off">
	<div class="form-group">
		<label for="usernam">Username</label>
		<input
		type="text"
		class="form-control"
		id="username"
		formControlName="username"
		placeholder="Username"
		/>
		<div *ngIf="submitted && form.username.errors">
			<small
			*ngIf="form.username.errors.required"
			class="form-text text-muted"
			>Username is required</small>
		</div>
	</div>
	<div *ngIf="error" class="my-3">
		<small class="form-text text-muted">{{ error | json }}</small>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>