<div class="section-title">
	Profile
</div>
<div class="section-container">
	<div class="avatar-wrapper">
		<div class="avatar"></div>
		<button class="avatar-change">Change Avatar</button>
		<span class="avatar-reset">Restore Default</span>
	</div>
	<form id="displayname" autocomplete="off">
		<label for="name">
			<div class="bar">
				<span>Display Name</span>
			</div>
		</label>
		<input type="text" id="name" class="displayname" spellcheck="false">
	</form>
</div>
<div class="section-title">
	Security
</div>
<div class="section-container">
	<span class="setting-title">Two-Factor Authentication</span>
	<div class="setting-container">
		<label for="checkbox" class="state-text">{{ twoFactorState }}</label>
		<label class="switch">
			<input id="checkbox" class="checkbox" type="checkbox" name="2fa"/>
			<i></i>
		</label>
	</div>
</div>
<div class="action-container">
	<a>
		<button class="save">
			<span>Save Changes</span>
		</button>
	</a>
	<a>
		<span class="cancel">Return to previous page</span>
	</a>
</div>
