<!-- <div class="cdk-overlay-container">
	<div id="cdk-overlay-0" class="cdk-overlay-pane" dir="ltr">
		<app-focus-overlay></app-focus-overlay>
	</div>
</div> -->

<div class="section-title">
	Profile
</div>

<form [formGroup]="settingsForm" (ngSubmit)="saveChanges()" autocomplete="off">
	<div class="section-container">
		<div class="avatar-wrapper">
			<div class="avatar" style="{{avatar}}"></div>
			<label for="avatar-select">
				<div class="avatar-change"><span>Change Avatar</span></div>
			</label>
			<input id="avatar-select" formControlName="avatar" type="file" (click)="onClickSelectAvatar($event)" (change)="selectAvatar($event)">
			<span class="avatar-reset" (click)="resetAvatar()">Restore Default</span>
		</div>
		<div id="displayname">
			<label for="name">
				<div class="bar">
					<span>Display Name</span>
				</div>
			</label>
			<input type="text" id="name" formControlName="displayName" class="displayname" spellcheck="false" placeholder="letters A-Z, numbers 0-9, 6-24 chars" [ngClass]="{
				'available' : settingsForm.controls['displayName'].valid && settingsForm.controls['displayName'].dirty,
				'taken' :  !settingsForm.controls['displayName'].valid && settingsForm.controls['displayName'].dirty
			}">
		</div>
	</div>

	<div class="section-title">
		Security
	</div>

	<div class="section-container">
		<span class="setting-title">Two-Factor Authentication</span>
		<div class="setting-container">
			<label for="checkbox" class="state-text">{{ twoFactorState }}</label>
			<label class="switch">
				<input id="checkbox" (click)="toggleSwitch($event)" formControlName="twoFactorEnabled" class="checkbox" type="checkbox" name="2fa"/>
				<i></i>
			</label>
			<div class="two-factor-open" id="two-factor-tab">
				Yeet
			</div>
		</div>
		<div id="displayname" style="margin-top: 20px">
			<label for="name">
				<div class="bar">
					<span>Unblock user</span>
				</div>
			</label>
			<input type="text" id="unblock" formControlName="unblock" class="displayname" spellcheck="false" [ngClass]="{
				'available' : settingsForm.controls['unblock'].valid && settingsForm.controls['unblock'].dirty,
				'taken' :  !settingsForm.controls['unblock'].valid && settingsForm.controls['unblock'].dirty
			}">
		</div>

	</div>


	<div class="action-container">
		<a>
			<button type="submit" class="save">
				<span>Save Changes</span>
			</button>
		</a>
		<a>
			<a href="javascript:void(0)" (click)="goBack()" class="cancel">Return to previous page</a>
		</a>
	</div>
</form>
