::ng-deep.invite-dialog .mat-dialog-container {
	background-color: rgb(22, 45, 84);
	color: white;
	text-align: center;
}

::ng-deep.invite-dialog .mat-dialog-container .invite-opponent-name {
	color: #A3B9C0;
}
