<div class="SiteContent">
	<div class="LeftContainer">
		<button class=LogoContainer>
			<p>PONG</p>
		</button>
		<div class=NavContainer>
			<a routerLink="users" class=NavItem>
				<div class="IconBackground">
				</div>
				<p>Users</p>
			</a>
			<a routerLink="" class=NavItem>
				<div class="IconBackground">
				</div>
				<p>Play</p>
			</a>
		</div>
		<a (click)="logOut()" type="button" class="NavItem" id="logout-button">
			<div class="IconBackground">
			</div>
			<p>Log out</p>
		</a>
	</div>

	<div class="ViewContainer">
		<router-outlet></router-outlet>
	</div>

	<div class="RightContainer">
		<a routerLink="settings">{{ displayName }}</a>
		<a class="NavItem">
			<p>Chat</p>
		</a>
	</div>
</div>
