<button mat-icon-button (click)="back()">
	<mat-icon>arrow_back</mat-icon>
</button>
<form [formGroup]="userForm" (ngSubmit)="submitUser()">
	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>chat name</mat-label>
		<input matInput formControlName="username">
	</mat-form-field>
	<button mat-raised-button type="submit" class="button">Find</button>
</form>
<button mat-raised-button class="button" (click)="redirectCreate()" >
	<mat-icon>add</mat-icon>
</button>
<div *ngIf="errorMessage != ''">{{errorMessage}}</div>
<mat-list>
	<mat-list-item *ngFor="let chat of chats" (click)="getChat(chat)">
		<div mat-line>{{chat.name}}</div>
		<div mat-line>
			<div *ngFor="let user of chat.users">
				<p>{{user.display_name}} &nbsp; </p>
			</div>
		</div>
		<mat-divider></mat-divider>
	</mat-list-item>
</mat-list>
<router-outlet name="chat"></router-outlet>
