.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
  margin-left: 2px;
  border: 1px solid rgb(176, 200, 209);
}

.mat-badge-content {
    background: red;
}

// .lorg {
    // width: 200px;
    // height: 200px
// }

// .center {
    // line-height: 200px;
    // height: 200px;
    // border: 3px solid green;
    // text-align: center;
    // vertical-align: middle;
// }

// .infoContainer {
//   flex-direction: column;
//   display: flex;
//   flex-wrap: nowrap;
//   padding-left: 10px;
// }

// .dateName {
//   flex-direction: row;
//   display: flex;
//   flex-wrap: nowrap;
// }

// .name {
//   font-size: 1rem;
// }

