<h1>Friends:</h1>
<br>
<mat-list *ngIf="loggedInUser && loggedInUser.friends">  
    <mat-list-item *ngFor="let friend of loggedInUser.friends; let last = last;">  
        <div matListAvatar>
            <span matBadge="&#8288;" class="offline" >
                <div matListAvatar class="avatar" style="{{getUserAvatar(friend.avatar_url)}}"></div>
            </span>
        </div>
        <p matLine class="center">{{friend.display_name}}</p>
        <mat-divider *ngIf="!last"></mat-divider>
    </mat-list-item>
</mat-list>
<p *ngIf="loggedInUser && loggedInUser.friends && loggedInUser.friends.length === 0">You have no friends :(</p>
