<button mat-icon-button (click)="back()">
	<mat-icon>arrow_back</mat-icon>
</button>
<button mat-icon-button *ngIf="userIsAdmin()" (click)="edit()">
	<mat-icon>settings</mat-icon>
</button> 
<h1>{{chat.name}}</h1>
<mat-list>
	<mat-list-item *ngFor="let msg of chat.messages">
		<p matLine> {{msg.time | date:'hh:mm a, MMM dd, YY' }} </p>
		<img matListAvatar src={{msg.owner.avatar_url}} alt="user profile photo">
		<h3 matLine> {{msg.owner.display_name}} </h3>
		<p matLine>
		<span class="demo-2"> -- {{msg.message}} </span>
		</p>
	</mat-list-item>
</mat-list>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Message</mat-label>
		<textarea formControlName="message" matInput placeholder="Ex. Hi!"></textarea>
	</mat-form-field>
	<button mat-raised-button type="submit" class="button">Send</button>
</form>
<p *ngIf="sendError">Error sending message</p>