<div class="viewBox">
	<div class="profileOptions">
		<div style="display: table">
			<div class="avatar" style="{{avatarUrl}}"></div>
			<p class="userName">{{ displayName }}</p>
		</div>
		<div style="padding-left: 5rem; display: table">
			<div style="display: table-cell; vertical-align: middle;"><button class="profileButtons" style="background-color: #42D674">Add friend</button></div>
			<div style="display: table-cell; vertical-align: middle;"><button class="profileButtons" style="background-color: #42BBD6">Message</button></div>
			<div style="display: table-cell; vertical-align: middle;"><button class="profileButtons" style="background-color: #DA5F5F">Block</button></div>
		</div>
		
	</div>
	
	<div class="navigationBar">

	</div>

	<div class="profileStats">

	</div>
</div>