<div class="viewBox">
	<div class="profileOptions">
		<div class="avatar" style="{{avatarUrl}}"></div>
		<p class="userName">{{ displayName }}</p>
		<div class="button-container">
			<button class="profileButtons" style="background-color: #42D674">ADD FRIEND</button>
			<button class="profileButtons" style="background-color: #42BBD6">MESSAGE</button>
			<button class="profileButtons" style="background-color: #DA5F5F">BLOCK</button>
		</div>
	</div>
	
	<div class="navigationBar">
		<a class="navigationItem">
			STATS
		</a>
		<a class="navigationItem">
			HISTORY
		</a>
	</div>
	<div style="padding: 2.5rem">
		<router-outlet></router-outlet>
	</div>
</div>
