<button mat-icon-button aria-label="Example icon button with a home icon" (click)="back()">
	<mat-icon>arrow_back</mat-icon>
</button>
<form [formGroup]="createChatForm" (ngSubmit)="otherSubmit()" (keyup.enter)="otherSubmit()">
	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Chat name</mat-label>
		<textarea formControlName="name" matInput placeholder="Ex. Hi!"></textarea>
	</mat-form-field>
	 <table class="table table-bordered" formArrayName="users">  
		<tr>  
		  <th colspan="2">Users:</th>  
		  <button mat-raised-button type="button" (click)="addUser()" class="btn btn-primary">Add More</button>
		</tr>  
		<tr *ngFor="let user of users().controls; let i=index" [formGroupName]="i">  
			<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>username</mat-label>
				<input formControlName="username" matInput placeholder="Ex. Hi!">
			</mat-form-field>
			<button mat-raised-button (click)="removeUser(i)" class="btn btn-danger">Remove</button>  
		</tr>  
	  </table>
	<mat-radio-group name="visibility" formControlName="visibility">
		<mat-radio-button type="radio" [checked]='true' value="public">public</mat-radio-button>
		<mat-radio-button type="radio" value="private">private</mat-radio-button>
	</mat-radio-group>
	<button mat-raised-button type="submit" class="button">Send</button>
</form>
