
<mat-list>
    <mat-list-item *ngFor="let message of messages">
      <img matListAvatar src="..." alt="...">
      <h3 matLine> {{message.owner}} </h3>
      <p matLine>
        <span class="demo-2"> -- {{message.message}} </span>
      </p>
    </mat-list-item>
</mat-list>
<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Message</mat-label>
        <textarea formControlName="message" matInput placeholder="Ex. Hi!"></textarea>
    </mat-form-field>
    <button class="button" type="submit">Send</button>
</form>
<p>chat works!</p>
