<div class="container">
	<div class="tab">
		<form [formGroup]="codeForm" (ngSubmit)="sendCode()">
			<div class="code-container" id="code-container">
				<input [OnlyNumber]=true id="code1" formControlName="code1" maxlength="1" class="tfa-code" type="text" name="2fa" autocomplete="off"/>
				<input [OnlyNumber]=true id="code2" formControlName="code2" maxlength="1" class="tfa-code" type="text" name="2fa" autocomplete="off"/>
				<input [OnlyNumber]=true id="code3" formControlName="code3" maxlength="1" class="tfa-code" type="text" name="2fa" autocomplete="off" style="margin-right: 1.4rem"/>
				<input [OnlyNumber]=true id="code4" formControlName="code4" maxlength="1" class="tfa-code" type="text" name="2fa" autocomplete="off"/>
				<input [OnlyNumber]=true id="code5" formControlName="code5" maxlength="1" class="tfa-code" type="text" name="2fa" autocomplete="off"/>
				<input [OnlyNumber]=true id="code6" formControlName="code6" maxlength="1" class="tfa-code" type="text" name="2fa" autocomplete="off"/>
			</div>
			<div class="button-container">
				<button type="submit" id="submit-button">
					Check Code
				</button>
			</div>
		</form>
	</div>
</div>